*
!config/alacritty
!config/alacritty/alacritty.yml
!config/fish
!config/fish/config.fish
!config/flake8
!config/flake8/flake8
!config/i3
!config/i3/config.template
!config/newsboat
!config/newsboat/config
!config/nvim
!config/nvim/init.vim
!config/polybar
!config/polybar/config
!config/rofi
!config/rofi/config
!config/tmux
!config/tmux/tmux.conf
!config/zathura
!config/zathura/zathurarc
!.gitignore
!scripts
!scripts/open_terminal
!scripts/reconfigure_i3
!scripts/vim_plugins.sh
